<h3>Login</h3>
<form id="loginForm">
    <input type="text" id="loginEmail" placeholder="email">
    <input type="password" id="loginPassword" placeholder="password">
    <button>Login</button>
</form>

{{!-- {{link to server}} --}}
<script src=""></script>